body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input{
width: 100%;
padding: 10px;
box-sizing: border-box;
border: 1px solid #be200b;
border-radius: 5px;
}

button{
    font-weight: bold;
    color: white;
    margin-top: 4px;
    background: #be200b;
    border: none;
    padding: 10px 20px;
}

ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
   

}

li{
    margin-top: 5px;
}

li a{
    color: #be200b;
}

#delete-btn{
    background: white;
    color: #be200b;
    border: 1px solid #be200b ;
}